.stoneType {
    font-size: 0;
    filter: grayscale(100%) opacity(0.5);
    padding: 1px;
    border: 1px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    margin: auto auto;
}

.stoneTypeActive {
    filter: grayscale(0%) opacity(1);
    border: 2px solid blue;
}

.stoneType:hover {
    filter: grayscale(0%) opacity(1);
}

footer#footer {
    position: fixed;
    left: 0;
    bottom: 0;
}
body {
    min-height: 100%;
    position: relative;
}

p#home-text {
                text-indent: 10%;
                font-size: 3vh;
                font-family: 'Libre Baskerville', serif;
                
            }
 a.black {
    color: black;
 }
 
 p.text-uppercase {
     font-size: 1.5vh !important;
 }
